<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="right">
      <h1>All Contacts</h1>

      <br />

      <table>
        <tbody>
          {% for contact in all_contacts %}
          <tr>
            <td>User {{loop.index}}</td>
            <td>
              {{contact.Name}}
            </td>
            <td>
              {{contact.Phone}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <br/>
      <br />
      <a href="/">Home </a>  
    </div>
  </body>
</html>
