<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>New Contact</h1>
    <form action="/create" method="post">
      <p>
        First name:
        <input type="text" name="first_name" id="" />
      </p>

      <p>
        Phone:
        <input type="phone" name="phone" id="" />
      </p>


      <button>Create</button>
      <br />
      <br />
      <a href="/">Home</a>
    </form>
  </body>
</html>
